.u-section-1 .u-sheet-1 {
  min-height: 425px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 697px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 0;
  margin-bottom: 0;
}

.u-section-2 .u-group-1 {
  --radius: 15px;
  height: 210px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 16px 30px;
}

.u-section-2 .u-image-1 {
  width: 125px;
  height: 125px;
  margin: 0 auto;
}

.u-section-2 .u-group-2 {
  width: 170px;
  --radius: 10px;
  height: 68px;
  margin: -70px 33px 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 1rem;
  width: auto;
  margin: 0 9px;
}

.u-section-2 .u-text-2 {
  width: 296px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 22px;
}

.u-section-2 .u-text-3 {
  width: 296px;
  font-size: 1rem;
  margin: 30px 22px 60px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1rem;
  font-weight: 400;
}

.u-section-2 .u-icon-1 {
  vertical-align: 0px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  font-size: 1rem;
  font-weight: 400;
}

.u-section-2 .u-icon-2 {
  vertical-align: 0px;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.u-section-2 .u-icon-3 {
  vertical-align: 0px;
}

.u-section-2 .u-btn-4 {
  background-image: linear-gradient(#0082d8, #5ac2ee);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
}

.u-section-2 .u-icon-4 {
  vertical-align: 0px;
}

.u-section-2 .u-gallery-1 {
  height: 375px;
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  padding: 4px;
}

@media (max-width: 1399px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-2 .u-group-1 {
    --radius: 25px;
    margin-top: 190px;
    min-height: 345px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    width: 100px;
    height: 100px;
    margin-top: -510px;
    margin-left: 25px;
  }

  .u-section-2 .u-group-2 {
    width: 206px;
    min-height: 83px;
    margin-top: -92px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    font-size: 1.25rem;
    margin-top: 90px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    font-size: 0.75rem;
    margin-top: 3px;
    margin-bottom: 0;
  }

  .u-section-2 .u-btn-1 {
    --radius: 25px;
    font-weight: 700;
    margin: 14px auto 0 6px;
    padding: 4px 5px 6px 4px;
  }

  .u-section-2 .u-btn-2 {
    --radius: 25px;
    font-weight: 700;
    margin: -32px 6px 0 auto;
    padding: 5px 16px 5px 14px;
  }

  .u-section-2 .u-btn-3 {
    --radius: 25px;
    font-weight: 700;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px 16px 5px 14px;
  }

  .u-section-2 .u-btn-4 {
    --radius: 10px;
    font-weight: 700;
    margin-top: -234px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px 63px 8px 62px;
  }

  .u-section-2 .u-gallery-1 {
    height: 153px;
    width: 270px;
    margin: 201px auto 34px;
  }
}